<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>594989838563-bjhbpei6d0raqb2dvb1e8imftrm4mqb1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.594989838563-bjhbpei6d0raqb2dvb1e8imftrm4mqb1</string>
	<key>API_KEY</key>
	<string>AIzaSyCQ1JKo3lr6rz5HuTTZq01vjEO3kZlZoP4</string>
	<key>GCM_SENDER_ID</key>
	<string>594989838563</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitled</string>
	<key>PROJECT_ID</key>
	<string>udemy-course-6ca8f</string>
	<key>STORAGE_BUCKET</key>
	<string>udemy-course-6ca8f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:594989838563:ios:5f9b22b636e3d94a1f55d6</string>
</dict>
</plist>